<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
	<script type ="text/javascript" src="/public/js/jquery-2.1.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
	<script type="text/javascript" src="/public/js/timer.js"></script>
	<script type ="text/javascript">
		var rounds=<%=rounds%>;
		var round_number=<%=round_numb%>;
		var rounds_time=<%=rounds_time%>;
		var s_time=<%-s_time%>;
		var battle_status=<%=battle_status%>;
	</script>
</head>
<body>
	<script>
		begin();
	</script>
	<script>
  	//$(function () {
    var socket = io();
	socket.on('connection', function(){
		var bt_id = getUrlVars()["id"];
    	socket.emit('send_btl_id', bt_id);
	});
	socket.on('pressEmit', function(round_1, round_2, round_3, red_res_round_1, red_res_round_2, red_res_round_3, blue_res_round_1, blue_res_round_2, blue_res_round_3, red_res_total, blue_res_total){
		document.getElementById('table1').rows[2].cells[1].innerHTML = round_1[0].red_score;
		document.getElementById('table1').rows[2].cells[2].innerHTML = round_1[1].red_score;
      	document.getElementById('table1').rows[2].cells[3].innerHTML = round_1[2].red_score;
		document.getElementById('table1').rows[3].cells[1].innerHTML = round_2[0].red_score;
		document.getElementById('table1').rows[3].cells[2].innerHTML = round_2[1].red_score;
      	document.getElementById('table1').rows[3].cells[3].innerHTML = round_2[2].red_score;
		document.getElementById('table1').rows[4].cells[1].innerHTML = round_3[0].red_score;
		document.getElementById('table1').rows[4].cells[2].innerHTML = round_3[1].red_score;
      	document.getElementById('table1').rows[4].cells[3].innerHTML = round_3[2].red_score;
		
		document.getElementById('table2').rows[2].cells[3].innerHTML = round_1[0].blue_score;
		document.getElementById('table2').rows[2].cells[4].innerHTML = round_1[1].blue_score;
      	document.getElementById('table2').rows[2].cells[5].innerHTML = round_1[2].blue_score;
		document.getElementById('table2').rows[3].cells[3].innerHTML = round_2[0].blue_score;
		document.getElementById('table2').rows[3].cells[4].innerHTML = round_2[1].blue_score;
      	document.getElementById('table2').rows[3].cells[5].innerHTML = round_2[2].blue_score;
		document.getElementById('table2').rows[4].cells[3].innerHTML = round_3[0].blue_score;
		document.getElementById('table2').rows[4].cells[4].innerHTML = round_3[1].blue_score;
      	document.getElementById('table2').rows[4].cells[5].innerHTML = round_3[2].blue_score;
		
		//alert(document.getElementById('table2').rows[2].cells[0].innerHTML);
		
		document.getElementById('table1').rows[2].cells[6].innerHTML=red_res_round_1;
		document.getElementById('table1').rows[3].cells[6].innerHTML=red_res_round_2;
		document.getElementById('table1').rows[4].cells[6].innerHTML=red_res_round_3;
		document.getElementById('table1').rows[5].cells[1].innerHTML=red_res_total;
	
		document.getElementById('table2').rows[2].cells[0].innerHTML=blue_res_round_1;
		document.getElementById('table2').rows[3].cells[0].innerHTML=blue_res_round_2;
		document.getElementById('table2').rows[4].cells[0].innerHTML=blue_res_round_3;
		document.getElementById('table2').rows[5].cells[0].innerHTML=blue_res_total;
		
		//alert(socket.io.engine.id);
    	//alert(round_1[0].round_nr,round_2[0],round_3[0]);
	});
	socket.on('timeNull', function(time){
		st_time=time;
		console.log(st_time);
	});
  	//});
	</script>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a href="#" class="navbar-brand">Back</a>
	</nav>
	<div class="row">
		<div class="col-md-5 col-lg-5 text-left" style="height:700px;"> 
			<div style="background-color: #FB8585; color:#EA0101; height: 150px;">
				<h1 style="font-size:52px; padding-left:30px; ">RED</h1>
					<img src="/public/img/red.png" align="right" height="200px"/>
					</div>
					<div class="text-left" style=" color:#EA0101; padding-top:15px; padding-bottom:10px; font-size:36px;">
					<h2 style="font-size:42px; padding-top:20px; "><%=red_name%> <%=red_surname%></h2>
					<h2 style="float:left;">Club / Nationality: <%=red_club%></h2>
					</div>
					<div style="float:left;">
						<table class="table table-bordered table-hover text-center" id="table1" style=" color:#EA0101; font-size:22px;">
							<thead>
                      			<tr class="atcive" >
                					<th rowspan="2">Round</th>
                                    <th colspan="3">Score</th>
                                    <th colspan="2" class="mpoint">Minus point</th>
                                    <th rowspan="2">Result</th>
                                </tr>
                                 <tr class="atcive">
									<th>Judge 1</th>
									<th>Judge 2</th>
									<th>Judge 3</th>
									<th class="mpoint">Kicks</th>
                          			<th class="mpoint">Fouls</th>
                                 </tr>
							</thead>
							<tbody>
								<tr id="red-round-1">
									<th>1</th>
									<th><%=round_1[0].red_score%></th>
									<th><%=round_1[1].red_score%></th>
									<th><%=round_1[2].red_score%></th>
									<th class="mpoint">1</th>
									<th class="mpoint">2</th>
									<th><%=red_res_round_1%></th>
								</tr>
                                <tr id="red-round-2">
                                    <th>2</th>
                                    <th><%=round_2[0].red_score%></th>
                                    <th><%=round_2[1].red_score%></th>
                                    <th><%=round_2[2].red_score%></th>
                                    <th class="mpoint">1</th>
									<th class="mpoint">2</th>
                                    <th><%=red_res_round_2%></th>
                              	</tr>
                                <tr id="red-round-3">
                                    <th>3</th>
                                    <th><%=round_3[0].red_score%></th>
                                    <th><%=round_3[1].red_score%></th>
                                    <th><%=round_3[2].red_score%></th>
									<th class="mpoint">1</th>
									<th class="mpoint">2</th>
                                    <th><%=red_res_round_3%></th>
                               	</tr>  
								<tr class="t_totalmin">
									<th colspan="6" class="text-right">Red-total</th>
									<th ><%=red_res_total%></th>
								</tr>  
								<tr class="t_totalmax">
									<th colspan="4" class="text-right">Red-total</th>
									<th ><%=red_res_total%></th>
								</tr> 
							</tbody>
                        </table>
						<script>set_rounds_red();</script>
						</div>
		</div>
		<div class="col-md-2 col-lg-2 text-center" style="height:700px">
			<h5>Weight Category: <%=weight%> KG</h5>
			<h5>Fight Nr.: <%=battlenr%>/ Ring Nr.: <%=ring_nr%></h5>
			<h1 id="rd_nr" style="color:white; font-size:72px; position:absolute; padding-left:39%; padding-top:15%;"><%=round_numb%></h1>
			<script>if (round_number===0){document.getElementById('rd_nr').innerHTML=rounds;}</script>
			<img src="/public/img/round.jpeg" height="180px"/>
			<h3 style="padding-top:20px;">TIMER:</h3>
			<canvas id="my_canvas" width="300" height="300" style=" text-align:center; color:black;"></canvas>
			<div class="text-center" style="padding-top:70px;">
				<button class="btn btn-success" style="height:70px; width:180px;" id="bstart" onClick="start();">Start</button>
				<button class="btn btn-danger" style="height:70px; width:180px; display:none;" id="bstop" onClick="stop();">Stop</button>
			</div>
		</div>
		<div class="col-md-5 col-lg-5 text-right" style="height:700px">
			<div style="background-color: #979BF1; color:#020EEB; height:150px;">
				<h1 style="font-size:52px; padding-right:30px; ">BLUE</h1>
					<img src="/public/img/blue.png" align="left" height="200px"/>
					</div>
					<div class="text-right" style="color:#020EEB; padding-top:15px; padding-bottom:10px; font-size:36px;">
					<h2 style="font-size:42px; padding-top:20px;"><%=blue_name%> <%=blue_surname%></h2>
					<h2 style="float:right;">Club / Nationality: <%=blue_club%></h2>
					</div>
						<div style="float:right;">
						<table class="table table-bordered table-hover text-center" id="table2" style="color:#020EEB; font-size:22px;">
							<thead>
                      			<tr class="atcive" >
                					<th rowspan="2">Result</th>
									<th colspan="2" class="mpoint">Minus point</th>
                                    <th colspan="3">Score</th>
                                	<th rowspan="2">Round</th>
								</tr>
                                 <tr class="atcive">
									<th class="mpoint">Kicks</th>
                          			<th class="mpoint">Fouls</th>
									<th>Judge 1</th>
									<th>Judge 2</th>
									<th>Judge 3</th>
                                 </tr>
							</thead>
							<tbody>
								<tr id="blue-round-1">
									<th><%=blue_res_round_1%></th>
									<th class="mpoint">3</th>
									<th class="mpoint">3</th>
									<th><%=round_1[0].blue_score%></th>
									<th><%=round_1[1].blue_score%></th>
									<th><%=round_1[2].blue_score%></th>
									<th>1</th>
								</tr>
                                <tr id="blue-round-2">
                                    <th><%=blue_res_round_2%></th>
                                    <th class="mpoint">3</th>
                                    <th class="mpoint">3</th>
                                    <th><%=round_2[0].blue_score%></th>
                                    <th><%=round_2[1].blue_score%></th>
									<th><%=round_2[2].blue_score%></th>
                                    <th>2</th>
                              	</tr>
                                <tr id="blue-round-3">
                                    <th><%=blue_res_round_3%></th>
                                    <th class="mpoint">3</th>
                                    <th class="mpoint">3</th>
                                    <th><%=round_3[0].blue_score%></th>
									<th><%=round_3[1].blue_score%></th>
									<th><%=round_3[2].blue_score%></th>
                                    <th>3</th>
                               	</tr>  
								<tr>
									<th ><%=blue_res_total%></th>
									<th colspan="6" class="text-left">Blue-total</th>
								</tr>  
							</tbody>
                        </table>
						<script>set_rounds_blue();
								check_begin();
							</script>
						</div>
		</div>
	</div>
</body>
</html>
